/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Proza+Libre:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/* BASIC */
h1 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}

h2 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    padding-top: 1rem;
}

p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .05rem;
    text-align: left;
}

/* FLEXBOX + ICONS*/
.flexbox {
    max-width: 1000px;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

.icon {
    width: 40px;
}

/* HEADER + NAV */
header {
    width: 100%;
    padding: 1rem;
    background-image: url(./images/header_background2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.header_div {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
    align-items: center;
    padding: .5rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.logo {
    font-family: 'Proza Libre', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    border-bottom: 4px solid white;
}

.nav_menu li {
    display: inline-block;
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}

.nav_menu li+li {
    margin-left: 1rem;
}

.nav_menu a {
    text-decoration: none;
    color: white;
}

.nav_menu a:hover {
    border-bottom: 1.5px solid white;
}

.header_content_main {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 2rem auto;
}

.header_text {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
}

.header_text h1 {
    margin-bottom: .5rem;
}

.header_text p+p {
    margin-top: .5rem;
}

.header_profile_photo {
    width: 30%;
    display: flex;
    padding-top: 1rem;
}

.header_profile_photo img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid white;
}

/* SKILLS */
.icons_flexbox {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* PROJECTS */
.grid_projects {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    gap: 1rem;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.grid_projects img {
    width: 50%;
}

.project_card {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border: 1.5px solid black;
}

.project_card p {
    text-align: justify;
    margin-top: 1rem;
}

#project1,
#project2,
#project3,
#project1Hide,
#project2Hide,
#project3Hide {
    font-weight: 500;
    text-decoration: underline;
    font-size: 0.85rem;
}

#project1Hide,
#project2Hide,
#project3Hide {
    display: none;
}

#project1:hover,
#project2:hover,
#project3:hover {
    cursor: pointer;
}

#project1_text,
#project2_text,
#project3_text {
    display: none;
}

/* CONTACT */
#contact {
    justify-content: center;
}

#contact img {
    margin: 0 2rem;
}

.flexbox p {
    margin-top: 0.5rem;
}

/* FOOTER */
footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .05rem;
    font-size: 0.7rem;
    padding: 1rem 0;
}

.heart {
    color: red;
}